<!DOCTYPE html>
<html>
	<head>
	  <title>SchedulePush</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= include_gon(init: true) %>
	  <%= Gon::Base.render_data({}) %>
	</head>
	<body>
		<%= render 'layouts/header_navbar' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</body>
	<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js' %>
</html>
