<div class="container w100">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/notice_mvc' %>
      <div class="col-md-12">
        <h1 class="pull-left mb4">Listing Apps</h1>
        <%= link_to 'New App', new_app_path, class:'btn btn-primary btn-sm pull-right tcw mb4' %>
      </div>
      <div class="col-md-10 offset-md-1">
        <table class="table table-hover table-sm mt5">
          <thead>
            <tr>
              <th>Name</th>
              <th>Client Key</th>
              <th>Api Key</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @apps.each do |app| %>
              <tr>
                <td><%= app.name %></td>
                <td><%= app.client_key.first(30) %></td>
                <td><%= app.api_key.first(30) %></td>
                <td><%= link_to "<i class='fa fa-pencil fs13'></i>".html_safe, edit_app_path(app), class:'tcw fs10', :'data-toggle'=>'tooltip', title:'EDITAR' %></td>
                <td><%= link_to "<i class='fa fa-trash fs13'></i>".html_safe, app, method: :delete, data: { confirm: 'Estas Segur@ ?' }, class:'tcw fs10', :'data-toggle'=>'tooltip', title:'ELIMINAR' %></td>
              </tr>
            <% end %>
          </tbody>
          <% if @apps.count > 5 %>
            <tfoot class="bg10 bd4">
              <tr>
                <th>Name</th>
                <th>Client Key</th>
                <th>Api Key</th>
                <th colspan="3"></th>
              </tr>
            </tfoot>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
