<div class="container w100">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/notice_mvc' %>
      <div class="col-md-12">
        <h1 class="pull-left mb4">Listing Teacher By Matters</h1>
        <%= link_to 'New Teacher By Matter', new_teacher_by_matter_path, class:'btn btn-primary btn-sm pull-right tcw mb4' %>
      </div>
      <div class="col-md-10 offset-md-1 mt5">
        <table class="table table-hover table-sm mt5">
          <thead>
            <tr>
              <th>Matter</th>
              <th>Room</th>
              <th>User</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @teacher_by_matters.each do |teacher_by_matter| %>
              <tr>
                <td><%= teacher_by_matter.matter.name %></td>
                <td><%= teacher_by_matter.room.name %> - <%= teacher_by_matter.room.code %></td>
                <td><%= teacher_by_matter.user.name_with_surname %></td>
                <td><%= link_to "<i class='fa fa-pencil fs13'></i>".html_safe, edit_teacher_by_matter_path(teacher_by_matter), class:'tcw fs10', :'data-toggle'=>'tooltip', title:'EDITAR' %></td>
                <td><%= link_to "<i class='fa fa-trash fs13'></i>".html_safe, teacher_by_matter, method: :delete, data: { confirm: 'Estas Segur@ ?' }, class:'tcw fs10', :'data-toggle'=>'tooltip', title:'ELIMINAR' %></td>
              </tr>
            <% end %>
          </tbody>
          <% if @teacher_by_matters.count > 5 %>
            <tfoot class="bg10 bd4">
              <tr>
                <th>Matter</th>
                <th>Room</th>
                <th>User</th>
                <th colspan="3"></th>
              </tr>
            </tfoot>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>



